* {
  margin: 0;
  padding: 0;
}

/*--Styling Nav-bar --*/
#navBar {
  display: flex;
  background-color: black;
  color: white;
  height: 70px;
  width: 100%;
  background-size: 100% 100%;
}
#navBar h1 {
  margin: auto 10px auto 5em;
  padding: 5px;
  font-weight: bold;
}
#navBar ul {
  display: flex;
  /*margin: 18px 10px;
  justify-content: space-around;
  align-content: center;*/
}
#navBar .rightNav {
  margin-left: 15em;
}
#navBar ul li {
  /*margin: 5px 3px 6px 3px;
  padding: 3px 3px;*/
  margin: 3px 3px 10px 3px;
  padding: 5px 3px;
  list-style: none;
  /*text-align: center;*/
  position: relative;
}

#navBar ul li a {
  /*padding: 20px 20px 20px 13px;*/
  padding: 20px 10px 20px 13px;
  display: block;
  font-family: 'Cabin Condensed', sans-serif;
  color: white;
  font-size: 90%;
  text-decoration: none;
  line-height: 20px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
}
#navBar ul li a:hover {
  background-color: rgb(84, 84, 84);
  transition: 0.3s;
}
#navBar ul li ul {
  display: none;
  background-color: whitesmoke;
  color: rgb(59, 58, 58);
  width: 180px;
  /*margin: 20px -100px 10px 0px;*/
  margin: 1.2px 0 10px 0px;
  padding: 3px 13px 3px 10px;
  position: absolute;
}
#navBar ul li:hover ul {
  display: block;
}
#navBar ul li ul li {
  display: block;
  width: 180px;
}
#navBar ul li ul li a {
  padding: 8px 18px;
  background-color: whitesmoke;
  color: rgb(59, 58, 58);
  margin: -10px 0px;
  width: 80%;
  text-align: left;
  font-family: 'Cabin Condensed', sans-serif;
  border-radius: 1px;
}
#navBar ul li ul li a:hover {
  background-color: grey;
  border-radius: 1px;
  transition: 0.3s;
}
#navBar ul button {
  background-color: whitesmoke;
  margin: 5px 20px;
  padding: 5px 10px;
  border-radius: 40px;
  border: 1px solid transparent;
}
#navBar ul button a {
  color: black;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
}
#navBar ul button:hover {
  background-color: rgb(209, 206, 206);
}
/*making responsiveness of nav. bar */

/*styling background img*/
#backgroundImg img {
  /*background-image: url(./images/1st-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;*/
  width: 100%;
  z-index: 1;
  position: relative;
  height: 600px;
  /*height: 250px;*/
}
/*styling 2nd nav*/

.Nav {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 70px;
  width: 90%;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 150px;
  flex-basis: 30px;
  justify-content: space-evenly;
  justify-items: center;
}
.Nav a div {
  flex: 1 1 50px;
  flex: 0 1 50px;
  padding: 10px;
  width: 50px;
  height: 80px;
  text-align: center;
}
#backgroundImg .small {
  width: 40%;
  height: 50%;
}
.Nav a {
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  color: black;
}
.Nav a div:hover {
  border-bottom: 2px solid black;
  transition: step-end 0.5s;
}

/* Making 2nd nav responsive*/

/*styling other div*/
#box {
  position: absolute;
  background-color: white;
  width: 30%;
  min-height: fit-content;
  top: 250px;
  z-index: 2;
  margin: 10px 70px;
  padding: 20px 60px;
}
#box h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 3em;
}
#box p {
  font-family: 'Cabin Condensed', sans-serif;
  line-height: 2em;
}
#box button {
  margin: 40px 0;
  padding: 10px 20px;
  font-family: 'Cabin Condensed', sans-serif;
  background-color: black;
  color: white;
  font-size: 1.2em;
  border: 1px solid transparent;
}
#box span {
  border-bottom: 1px solid darkgrey;
  padding-bottom: 10px;
}
#box span:hover {
  border-bottom: 1px solid black;
  transition: step-start 0.4s;
}
/* Making box responsive*/

/* styling 3rd section*/
img {
  width: 100%;
  height: 200px;
}
.box-2 {
  width: 40%;
  margin: 70px 80px;
}
.box-2 h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 2.5em;
}
.box-2 p {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1em;
  border-bottom: 1px solid grey;
  width: 30%;
  padding-top: 10px;
}
/*Making box2 responsive*/

/*styling box3 */
.box-2.n2 p {
  width: 100%;
  border-bottom: none;
}
.box-3 {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin: 50px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.box-3 div {
  flex-basis: 350px;
}
.box-3 h3 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.5em;
  margin-top: 30px;
}
.box-3 p {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1em;
  width: 90%;
  padding-top: 10px;
  line-height: 30px;
}
