* {
  margin: 0;
  padding: 0;
}

/*--Styling Nav-bar --*/
#navBar {
  display: flex;
  background-color: black;
  color: white;
  height: 70px;
  width: 100%;
  background-size: 100% 100%;
}
#navBar h1 {
  margin: auto 2em auto 2em;
  padding: 0.5%;
  font-weight: bold;
}
#navBar ul {
  display: flex;
  /*margin: 18px 10px;
  justify-content: space-around;
  align-content: center;*/
  justify-content: space-between;
}
#navBar .rightNav {
  margin-left: 15em;
}
#navBar .rightNav i {
  padding-right: 5px;
}
#navBar ul li {
  /*margin: 5px 3px 6px 3px;
  padding: 3px 3px;*/
  margin: 3px 3px 10px 3px;
  padding: 5px 3px;
  list-style: none;
  /*text-align: center;*/
  position: relative;
  min-width: 30px;
}

#navBar ul li a {
  /*padding: 20px 20px 20px 13px;*/
  padding: 20px 10px 20px 13px;
  display: block;
  font-family: 'Cabin Condensed', sans-serif;
  color: white;
  font-size: 90%;
  text-decoration: none;
  line-height: 20px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
}
#navBar ul li a:hover {
  background-color: rgb(84, 84, 84);
  transition: 0.3s;
}
#navBar ul li ul {
  display: none;
  background-color: whitesmoke;
  color: rgb(59, 58, 58);
  width: 180px;
  /*margin: 20px -100px 10px 0px;*/
  margin: 1.2px 0 10px 0px;
  padding: 3px 13px 3px 10px;
  position: absolute;
  z-index: 2;
}
#navBar ul li:hover ul {
  display: block;
}
#navBar ul li ul li {
  display: block;
  width: 180px;
  z-index: 2;
}
#navBar ul li ul li a {
  padding: 8px 18px;
  background-color: whitesmoke;
  color: rgb(59, 58, 58);
  margin: -10px 0px;
  width: 80%;
  text-align: left;
  font-family: 'Cabin Condensed', sans-serif;
  border-radius: 1px;
}
#navBar ul li ul li a:hover {
  background-color: grey;
  border-radius: 1px;
  transition: 0.3s;
}
#navBar ul button {
  background-color: whitesmoke;
  margin: 5px 20px;
  padding: 5px 10px;
  border-radius: 40px;
  border: 1px solid transparent;
}
#navBar ul button a {
  color: black;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
}
#navBar ul button:hover {
  background-color: rgb(209, 206, 206);
}
/*making responsiveness of nav. bar */
@media (max-width: 1024px) {
  #navBar {
    display: flex;
    height: 70px;
    background-size: 100% 100%;
  }
  #navBar h1 {
    margin: auto 2em auto 2em;
    padding: 2%;
    font-size: 25px;
  }
  #navBar .rightNav {
    margin-left: 17em;
  }

  #navBar .rightNav li i {
    display: flex;
    padding: 5px 1px;
    font-size: 15px;
  }

  #navBar ul li a .res {
    display: none;
  }
  #navBar .leftNav li a {
    display: none;
  }
  #navBar ul button {
    background-color: whitesmoke;
    margin: 25px 5px;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    height: 30px;
  }
  #navBar ul button a {
    color: black;
    font-weight: 100;
    font-size: 15px;
  }
}
@media (max-width: 852px) {
  #navBar .rightNav {
    margin-left: 6em;
  }
}
@media (max-width: 768px) {
  #navBar .rightNav {
    margin-left: 2em;
  }
}
@media (max-width: 623px) {
  #navBar .rightNav {
    margin-left: -9em;
  }
}
@media (max-width: 414px) {
  #navBar .rightNav {
    margin-left: -9em;
  }
  #navBar h1 {
    margin: auto 1em auto 1em;
  }
}
@media (max-width: 375px) {
  #navBar .rightNav {
    margin-left: -9em;
  }
  #navBar h1 {
    margin: auto 0.2em auto 0.2em;
  }
}
@media (max-width: 320px) {
  #navBar .rightNav {
    margin-left: -11em;
  }
  #navBar ul li a {
    display: none;
  }
  #navBar h1 {
    margin: auto 0.5em auto 0.5em;
  }
}

/*styling background img*/
#backgroundImg img {
  /*background-image: url(./images/1st-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;*/
  width: 100%;
  z-index: -2;
  position: relative;
  height: 600px;
  /*height: 250px;*/
}
/*styling 2nd nav*/

.Nav {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 70px;
  width: 90%;
  background-color: white;
  z-index: 0;
  position: absolute;
  top: 150px;
  flex-basis: 30px;
  justify-content: space-evenly;
  justify-items: center;
  border-bottom: 1px solid whitesmoke;
}
.Nav a div {
  flex: 1 1 50px;
  flex: 0 1 50px;
  padding: 10px;
  width: 50px;
  height: 79.75px;
  text-align: center;
}
#backgroundImg .small {
  width: 40%;
  height: 50%;
}
.Nav a {
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  color: black;
}
.Nav a div:active {
  border-bottom: 10px solid black;
  transition: step-end 0.5s;
}

/* Making 2nd nav responsive*/
@media (max-width: 1024px) {
  .Nav {
    margin: 10px 50px;
    top: 60px;
  }
}
@media (max-width: 414px) {
  .Nav {
    margin: 10px 20px;
  }
}

/*styling other div*/
#box {
  position: absolute;
  background-color: white;
  width: 30%;
  min-height: fit-content;
  top: 250px;
  z-index: -1;
  margin: 10px 70px;
  padding: 20px 60px;
}
#box h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 3em;
}
#box p {
  font-family: 'Cabin Condensed', sans-serif;
  line-height: 2em;
}
#box button {
  margin: 40px 0;
  padding: 10px 20px;
  font-family: 'Cabin Condensed', sans-serif;
  background-color: black;
  color: white;
  font-size: 1.2em;
  border: 1px solid transparent;
}
#box span {
  border-bottom: 1px solid darkgrey;
  padding-bottom: 10px;
}
#box span:hover {
  border-bottom: 1px solid black;
  transition: step-start 0.4s;
}
/* Making box responsive*/
@media (max-width: 1238px) {
  #box h2 {
    font-size: 2em;
  }
}
@media (max-width: 1024px) {
  #box {
    top: 160px;
    margin: 10px 50px;
  }
  #box h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 586px) {
  #box {
    top: 250px;
    width: 50%;
  }
  #box h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 414px) {
  #box {
    top: 250px;
    margin: 10px 20px 10px 25px;
    width: 58%;
  }
  #box h2 {
    font-size: 1.5em;
  }
  #box button {
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 1em;
  }
}
@media (max-width: 375px) {
  #box {
    margin: 10px 20px;
    width: 57%;
  }
}
@media (max-width: 320px) {
  #box {
    top: 250px;
    margin: 10px 20px;
    width: 52%;
  }
  #box h2 {
    font-size: 1.5em;
  }
  #box button {
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 1em;
  }
}

/* styling 3rd section*/
img {
  width: 100%;
  height: 200px;
}
a {
  text-decoration: none;
  color: inherit;
}
.box-2 {
  width: 40%;
  margin: 70px 80px;
}
.box-2 h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 2.5em;
}
.box-2 p {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1em;
  border-bottom: 1px solid grey;
  width: 30%;
  padding-top: 10px;
}
/*Making box2 responsive*/
@media (max-width: 1024px) {
  .box-2 {
    width: 60%;
    margin: 70px 80px;
  }
  .box-2 p {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .box-2 {
    width: 70%;
  }
  .box-2 h2 {
    font-size: 2.3em;
  }
}
@media (max-width: 414px) {
  .box-2 {
    width: 80%;
    margin: 70px 30px;
  }
  .box-2 p {
    width: 50%;
  }
}
/*styling box3 */
.box-2.n2 p {
  width: 100%;
  border-bottom: none;
}
.box-3 {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;

  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.box-3 div {
  flex: 1 1 300px;
  flex: 0 1 300px;
  margin-top: 50px;
}
.box-3 h3 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.5em;
  margin-top: 30px;
}
.box-3 p {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1em;
  width: 90%;
  padding-top: 10px;
  line-height: 30px;
}
/*Making box-3 responsive*/
@media (max-width: 320px) {
  .box-3 div {
    flex: 1 1 260px;
    flex: 0 1 260px;
  }
}
/*styling box-4*/
.box-4 {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin: 90px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.box-4 div {
  flex-basis: 500px;
}
.box-4 img {
  margin-top: 120px;
}
.box-4 h3 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 2.5em;
  margin-top: 30px;
}
.box-4 p {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1em;
  width: 90%;
  padding-top: 10px;
  line-height: 30px;
}
.box-4 hr {
  width: 50%;
}
/*Making box-4 responsive*/
@media (max-width: 1024px) {
  .box-4 div {
    flex-basis: 600px;
  }
}
@media (max-width: 414px) {
  .box-4 {
    margin: 50px;
  }

  .box-4 img {
    margin-top: 30px;
  }
}
@media (max-width: 360px) {
  .box-4 {
    margin: 30px 50px;
  }

  .box-4 h3 {
    font-size: 2em;
  }
}
/*styling box5 */
.box-2.n2 p {
  width: 100%;
  border-bottom: none;
}
.box-5 {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 70px 50px 90px 50px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.box-5 div {
  flex-basis: 350px;
  margin: 50px 0px 70px;
}
.box-5 div .small {
  width: 10%;
  height: 10%;
}
.box-5 h3 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.5em;
  margin-top: 30px;
}
.box-5 p {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1em;
  width: 90%;
  padding-top: 10px;
  line-height: 30px;
}

.box a {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
a:hover {
  border-bottom: 1px solid black;
  transition: 0.4s;
}

/*Making box-5 responsive*/

/* Styling footer */
#footer {
  background-color: black;
  color: white;
  padding: 70px 20px;
  font-family: 'Cabin Condensed', sans-serif;
}
#footer div {
  margin: 30px 50px;
}
#footer div h1 {
  padding-bottom: 20px;
}
#footer div h3 {
  font-size: 1.2em;
  font-weight: 80;
  padding-top: 20px;
}
#footer .box-6 {
  display: flex;
  justify-content: left;
  justify-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
#footer .box-6 div {
  flex-basis: 200px;
}

#footer .box-6 h3 {
  font-size: 1.5em;
  font-weight: 80;
}

#footer .box-6 ul {
  margin: 10px 0;
  padding: 10px 0;
  list-style: none;
}
#footer .box-6 ul li {
  font-size: 1em;
  width: 100%;
  padding-top: 10px;
  line-height: 30px;
  font-weight: 80;
}
#footer .box-6 ul li:hover {
  color: darkgrey;
}
#footer .box a {
  border-bottom: none;
  padding-bottom: none;
}
#footer a:hover {
  border-bottom: none;
  transition: none;
}
#footer .box-7 {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
#footer .box-7 button {
  padding: 5px 10px;
  font-weight: bold;
  margin: 0.5em;
  background-color: black;
  color: white;
  border: 1px solid transparent;
  flex-basis: 50px;
}
#footer .box-7 button:hover {
  background-color: rgba(175, 171, 171, 0.418);
}
#footer .box-7 button i {
  padding: 5px;
  font-size: 1.2em;
}
#footer .box-7 .box-7b button i {
  font-size: 1.5em;
  padding: 3px;
  float: left;
}
#footer .box-7b button {
  border: 1px solid white;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  text-align: left;
}

#footer .box-7b button a span {
  font-size: 8px;
  text-align: center;
  padding-left: 10px;
}
.box-7b p {
  line-height: 10px;
  text-align: center;
}
#footer .box-7c span {
  padding: 12px;
  font-size: 0.8em;
  color: darkgrey;
}
#footer .box-7c span:hover {
  color: white;
}
#footer .box-7c p {
  padding: 12px;
  font-size: 0.8em;
  color: darkgrey;
}
#footer .box-7c p:hover {
  color: white;
}
/*Making Footer Responsive */

@media (max-width: 1024px) {
  #footer div {
    margin: 30px 20px 30px 120px;
  }

  #footer .box-6 {
    display: flex;
    justify-content: left;
    justify-items: center;
  }
  #footer .box-6 div {
    flex-basis: 200px;
  }

  #footer .box-7 {
    display: flex;
    justify-content: left;
    justify-items: center;
  }

  #footer .box-7 button:first-child {
    margin-left: 40px;
  }

  #footer .box-7b button {
    width: 130px;
    text-align: left;
  }
  #footer .box-7b button:nth-child(1) {
    margin-left: 180px;
  }

  #footer .box-7c p {
    margin-top: -7px;
    margin-right: 100px;
    margin-left: 80px;
  }
}
@media (max-width: 768px) {
  #footer .box-6 div {
    flex-basis: 200px;
  }

  #footer .box-7b button:nth-child(1) {
    margin-left: 40px;
  }

  #footer .box-7c p {
    margin-right: 70px;
    margin-left: -5px;
  }
}
@media (max-width: 718px) {
  #footer .box-6 div {
    flex-basis: 100px;
  }
}

@media (max-width: 414px) {
  #footer div {
    margin: 30px 30px 30px 80px;
  }

  #footer .box-6 div {
    flex-basis: 350px;
  }

  #footer .box-7 {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }

  #footer .box-7 button:first-child {
    margin-left: -60px;
  }

  #footer .box-7b button:nth-child(1) {
    margin-left: 10px;
  }

  #footer .box-7c p {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #footer .box-7c span {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 375px) {
  #footer .box-7 button {
    padding: 5px 5px;
  }
}
@media (max-width: 320px) {
  #footer .box-7 button {
    padding: 5px 1px;
    margin-left: 5px;
  }
}
